/*----------------------------------------------------------------
   main
------------------------------------------------------------------*/
.panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bg-transparent {
    background-color: transparent;
}

.panel-body {
    color: #000;
    position: relative;
}

button {
    border: none;
    outline: none !important;
}

.sidebar .fa-desktop.small {
    font-size: 15px;
}

input, textarea {
    font-size: 17px !important;
}

/*----------------------------------------------------------------
   使用者
------------------------------------------------------------------*/

.hetao-user {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.hetao-user i {
    color: #ffffff;
    font-size: 30px;
}

.hetao-user p {
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 0;
}

#manager .panel-title {
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    padding-left: 15px;
    background: #4194d4;
    background: linear-gradient(-45deg, transparent 15px, #4194d4 0) no-repeat;
    background-size: 280px 100%;
    border-top-left-radius: 4px;
}

#manager .panel-title i {
    margin-right: 3px;
}

.coupon button {
    color: #ffffff;
    background-color: #4194d4;
    border-radius: 20px;
    letter-spacing: .07rem;
    padding: 5px 15px;
}

.coupon .btn-bright {
    color: #000;
    background-color: #fece78;
}

.coupon .search button {
    border-radius: 4px;
    border-color: #4194d4;
    font-size: 16px;
}

.coupon {
    margin-left: 0 !important;
    text-align: left;
    display: inline-block;
}

.coupon .search button:hover,
.coupon .search button:focus {
    background-color: #4194d4;
    color: #fff;
}

.fc-right .fc-button-group {
    margin-right: 10px;
}

.fc-right .fc-button-group,
.fc-right .search,
.fc-right .datetime,
.fc-right button {
    margin-top: 6px;
    margin-bottom: 6px;
}

.form-control .search input {
    width: 130px;
}

.form-control {
    font-size: inherit;
    color: #000;
    font-weight: bold;
}

@media screen and (min-width: 1310px) {
    .btn-wrap {
        display: inline-block;
    }    
}

.fc .coupon th,
.fc .coupon tr,
.fc .coupon td {
    border-width: 0;
}

/* datatable
=================================*/

.dataTable {
    padding: 20px 10px;
}

.dataTable tbody>tr>td {
    text-align: left;
    vertical-align: middle;
    height: 30px;
    position: relative;
}

.dataTables_filter {
    margin: 20px 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #4194d4;
    border-color: #4194d4;
}

.table>thead>tr>th {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
}

.dataTables_filter .bootstrap-datetimepicker-widget th {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bootstrap-datetimepicker-widget th:hover {
    color: #000 !important;
}

.dataTables_filter input[type="search"] {
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    margin-right: 6px;
}

tr {
    position: relative;
}

div.dataTables_wrapper div.dataTables_filter label, .dataTables_filter .form-group .datetime, #hetao-list-su-2_filter .form-group.mr-s {
    margin-top: 6px;
    margin-bottom: 6px;
}

.dataTables_filter input[type="search"] {
    background: url(../img/search-solid.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 6px center; 
}

.dataTables_filter form .form-group {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .dataTables_filter .date-select.mr-s, #hetao-list-su-2_filter .form-group.mr-s {
        margin-right: 0 !important;
    }
    div.dataTables_wrapper div.dataTables_filter input[type="search"] {
        width: 100%;
    }
    div.dataTables_wrapper div.dataTables_filter label {
        margin-bottom: 0;
    }

}


/* tab
=================================*/

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-bottom: 3px solid #fece78;
/*    font-size: 1.5rem;*/
    font-weight: bold;
    color: #000;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.nav>li>a {
    padding: 15px 30px;
}

.nav-tabs>li>a {
    border: none;
    color: #5f5f5f;
    font-weight: bold;
}

.datetime {
    display: inline-block;
}

#coupon .collapse {
    background-color: #ffffff;
}


@media screen and (max-width: 1291px) {
    .fc-right .fc-button-group {
        width: 100%;
    }

    /*  .fc-right .fc-button-group , .fc-right .search, .fc-right .datetime , .fc-right button {
        display: block;
    }*/
    .fc-toolbar .fc-right {
        width: 100%;
    }

    .wrap {
        padding: 0;
    }

    .fc .fc-toolbar .fc-button {
        padding: 6px !important;
    }

    .btn-wrap button, .fc-toolbar .btn-wrap button, .dataTables_filter label {
        margin-bottom: 6px;
    }

    .fc-right .search {
        display: table;
        width: 100%;
    }

    .datetime .mr-10, .fc-right .day-select {
        margin-right: 0 !important;
    }

    .form-inline .input-group.search .input-group-btn {
        width: 30px;
    }
}

@media screen and (max-width: 767px) {
    .datetime input {
        width: 100% !important;
    }

    .rwd-hide {
        display: none;
    }

    .datetime {
        display: block;
        margin-bottom: 6px;
    }

    .fc-button-group {
        display: contents !important;
    }

    .fc-right .day-select.mr-s {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 360px) {
    .nav-tabs li {
        width: 49%;
    }
    .nav-tabs li a {
        padding: 15px;
        text-align: center;
    }
}




/* 通用
=================================*/
small {
    opacity: 0.6;
}

.float-right {
    display: block;
    float: right;
}

.mr-s {
    margin-right: 6px !important;
}

.mr-m {
    margin-right: 12px !important;
}

.mr-l {
    margin-left: 15px;
}
.ml-s {
    margin-left: 8px;
}
.mx-s {
    margin-right: 6px;
    margin-left: 6px;
}
.mt-m {
    margin-top: 20px;
}
.my-s {
    margin-top: 6px;
    margin-bottom: 6px;
}
.mb-xs {
    margin-bottom: 6px;
}
.mb-s {
    margin-bottom: 12px;
}

.mt-s {
    margin-top: 12px;
}

.px-0 {
    padding-right: 0;
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pt-l {
    padding-top: 6px;
}

.past td:not(.satisfied) {
    opacity: 0.5;
}

.tab-pane table {
    width: 100%;
    word-break: keep-all;
}

.tab-pane table.collapsed ul {
    width: 100%;
    text-align: left;
}

.tab-pane table.collapsed ul li select {
    width: 150px;
    display: inline-block;
}

.selected {
    background: rgba(99, 222, 255, 0.3) !important;
}

.d-inline {
    display: inline-block;
}

.d-block {
    display: block;
}

.title-deco {
    border-left: 6px solid #53AAEC;
    padding-left: 6px;
    margin: 6px 0 10px;
    font-weight: bold;
}

.panel-body {
    padding: 8px;
}

h5 {
    background: #f1faff;
    padding: 8px 12px;
}

.btn {
    font-size: 16px;
}

.btn-default {
    color: #fff;
    background-color: #aaa;
    border-color: #aaa;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #fff;
    background-color: #aaa;
    border-color: #aaa;
}
.btn:hover {
    color: #fff;
}

.btn-primary {
    background-color: #4194d4;
    border-color: #4194d4;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #4194d4;
    border-color: #4194d4;
}

ul {
    padding-left: 0; 
}

.d-block {
    display: block;
}

.choose {
    display: none;
}
/*datetimepicker設定*/
.bootstrap-datetimepicker-widget tr td, .bootstrap-datetimepicker-widget th {
    font-size: 17px !important;
    padding: 6px 3px !important; 
}
.bootstrap-datetimepicker-widget {
    min-width: 268px;
    max-width: 280px;
    width: auto !important;
}
.bootstrap-datetimepicker-widget th {
    font-weight: bold !important;
}

/* 行程管理-助理
=================================*/
/*assistant.html*/
.watch {
    cursor: pointer;
}

/*detail.html*/
.field {
    max-width: 768px;
}

.dispatch-form .field:nth-child(1) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

h4.title-deco {
    color: #4194d4;
    font-weight: inherit;
}

.field ul {
    padding-left: 12px;
}

/* 行程管理-員工
=================================*/
.btn.status:not(.btn-primary) {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

.status.btn-primary {
    cursor: inherit;
    pointer-events: none;
}

.status.btn-primary:hover {
    background-color: #0088cc;
}
.color-btn{
    background: #000;
    color: #fff;
    border-radius: 20px;
    letter-spacing: .07rem;
    padding: 5px 15px;
    margin: 3px 5px;
}
@media screen and (max-width: 400px) {
    .btn.status {
        margin: 0;
        padding: 4px 8px;
    }
    .color-btn {
        margin: 0;
    }
}

/* 行程管理-主管
=================================*/
.ing:before, .delay:before {
    content: '';
    position: absolute;
    left: 14px;
    top: 16px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
.ing:before {
    background-color: #B0D85D;
}
.delay:before {
    background-color: #FEF069;
}
#hetao-list-su-2 td span:not(.color-btn) {
    padding-left: 25px;
}


.batchwrap {
    display: inline-block;
}

/* 新增/編輯派工單
=================================*/
.form-item {
    margin: 16px 0;
}

.setting .form-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}

.dispatch-form form {
    max-width: 768px;
}

.dispatch-form .panel-body .panel-body {
    padding: 30px;
}

.dispatch-form .btn {
    border-radius: 20px;
    padding: 4px 20px;
    margin: 0 5px;
}

@media screen and (min-width: 768px) {
    .setting .form-item .form-inline .form-control {
        width: 75px;
    }

    .setting .form-item .form-inline .time-select .form-control {
        margin-right: 0;
    }
}


/*全選*/
.sall {
   /* display: none;*/
    /*width: 60px;*/
    color: #4194d4;
    margin: 0 6px;
    text-align: center !important;
}

#chkall {
    display: none;
}
.chkall {
    position: absolute;
    right: 10px;
    top: 14px;
}

.fc-right .form-group {
    margin-bottom: 0;
}

.dataTables_wrapper table.dataTable {
	border-collapse: collapse !important;
	margin: 0 !important;
	width: 1580px !important;
}
.dataTables_wrapper table.dataTable#hetao-list-ab {
	width: 100% !important;
}

@media screen and (max-width: 860px) {
    .batchwrap {
        display: block;
    }  
    .batchwrap .batch-select {
        display: inline-block;
    }
    .batchwrap .sall {
        width: auto;
    }
}

/*dtatatable*/
.dtr-details tr td:nth-child(odd) {
    width: 80px;
}
@media screen and (max-width: 1041px) {
    div.dataTables_wrapper div.dataTables_filter {
        text-align: left;
    }
    div.dataTables_wrapper div.dataTables_filter .coupon .btn-wrap {
        display: block;
    }
    div.dataTables_wrapper div.dataTables_filter label:not(.sall) {
        display: block;
    }
    /*.btn-wrap {
        margin: 6px 0;
    }*/
}

@media screen and (max-width: 1041px) {
    .rwdhide {
        visibility: hidden;
    }

    .odd,
    .even {
        visibility: hidden;
        display: none;
    }

    .dataTable tbody>tr>td {
        text-align: left;
    }
    .ing:before, .delay:before {
        left: 0;
        top: 8px;
    }
    .dataTables_wrapper table.dataTable {
        position: relative;
        width: 100% !important;
        /*top: -30px;*/
    }
    .child .form-control {
        display: inline-block;
        /*width: 50%;*/
    }
}
@media screen and (max-width: 1041px) {
    #hetao-list-a .rwdhide {
        visibility: hidden;
    }

    #hetao-list-a .odd,
    #hetao-list-a .even {
        visibility: hidden;
        display: none;
    }

    #hetao-list-a.dataTable tbody>tr>td {
        text-align: left;
    }
    .dataTables_wrapper table.dataTable#hetao-list-a {
        position: relative;
        /*top: -30px;*/
    }
    #hetao-list-a .child .form-control {
        display: inline-block;
        width: 40%;
    }
}
@media screen and (max-width: 1041px) {
    #hetao-list-a-2 .rwdhide {
        visibility: hidden;
    }

    #hetao-list-a-2 .odd,
    #hetao-list-a-2 .even {
        visibility: hidden;
        display: none;
    }

    #hetao-list-a-2.dataTable tbody>tr>td {
        text-align: left;
    }
    .dataTables_wrapper table.dataTable#hetao-list-a-2 {
        position: relative;
        /*top: -30px;*/
    }
    #hetao-list-a-2 .child .form-control {
        display: inline-block;
        /*width: 40%;*/
    }
    .batch-finish {
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 9999;
        box-shadow: 0 2px 10px -3px rgba(0,0,0,0.5);
    }
}


/* 權限管理
=================================*/
.form-control.authority {
    height: auto;
}

.form-control.authority>ul {
    padding-left: 0;
}

.form-control.authority ul {
    line-height: 2.7em;
}

.form-control.authority ul li:not(.si) {
    border-bottom: 1px solid #ddd;
}

.form-control.authority ul li ul {
    margin-bottom: 6px;
}

/*switch*/
.switch {
    position: relative;
    display: block;
    width: 46px;
    height: 20px;
    float: right;
    margin: 8px 0;
}
.setting .switch {
    margin: 0;  
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #53a8e9;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*權限*/
.authority input:checked+.slider:after {
    content: '顯示';
    color: #53a8e9;
}
.authority .slider:after {
    content: '隱藏';
    position: absolute;
    color: #464646;
    left: -36px;
    top: -9px;
}
/*推播*/
.setting input:checked+.slider:after {
    content: '開啟';
    color: #53a8e9;
}
.setting .slider:after {
    content: '關閉';
    position: absolute;
    color: #464646;
    left: -36px;
    top: -1px;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
    .dayy {
        display: inline-table;
        max-width: 60px;
    }
    .setting .date {
        max-width: 83%;
        display: inline-table;
        vertical-align: bottom;
        margin-top: 10px;
    }
    .setting .date .form-control {
        margin-left: 0;
    }
}
@media screen and (max-width: 600px) {
    .dispatch-form .panel-body .panel-body {
        padding-left: 13px;
        padding-right: 13px;
    }
    .setting .slider:after {
        content: '關閉';
        position: absolute;
        color: #464646;
        left: -28px;
        top: 1px;
        font-size: 12px;
    }
    .nav-tabs {
        display:flex;
        justify-content: space-between;
    }
    .nav>li>a {
        padding: 4px 0;
    }
}




/* 總覽-新增活動
=================================*/
.add-ul .activity {
    font-size: 22px;
    line-height: 1.5;    
}
.addcalendar .add-ul {
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.addcalendar div:not(.coupon) {
    line-height: 2.5em;
}
.adj {
    width: 10%;
    display: inline-block;
    text-align: center;
}
.addcalendar .date-select {
    width: 45%;
    display: inline-block;
}
.addcalendar .form-inline input.form-control {
    width: 100%;
}
.addcalendar .form-inline textarea.form-control {
    width: 100% !important;
    overflow: hidden;
    resize: none;
    height: 34px;
}    
.addcalendar .form-inline input.form-control.day-select, .addcalendar  .form-inline input.form-control.time-select {
    width: 50%;   
/*    display: inline-block;*/
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
}
.opmodal {
    cursor: pointer;
}
.allday span, .opmodal {
    padding-left: 32px;
}
.modal-body {
    width: 100%;
    margin: 6% auto 
}
.modal-dialog {
    width:90%;
    max-width: 600px;
    margin: 6vh auto;
}
/* .meeting.modal-dialog {
    max-width: 400px;
} */
.modal {
    padding-right: 0 !important;
}
.addcalendar input, .addcalendar select, .addcalendar textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,0);
    border-radius: 0;
    box-shadow: none;
}
.addcalendar .location, .addcalendar .ps, .addcalendar .messenger:not(select) {
    padding-left: 32px;    
}

.addcalendar input:focus, .addcalendar select.form-control:focus {
    box-shadow: none;
}
#meet .add-member, #job2 .add-member {
    width: 30px;
    height: 30px;
    padding: 0;
    float: right;
    margin-bottom: 12px;
}

.addcalendar ::placeholder {
    color: #464646 !important;
    opacity: 1;
    font-size: 17px;
}
.addcalendar ::-webkit-input-placeholder {
    color: #464646 !important;
    opacity: 1;
    font-size: 17px;
}

.addcalendar ::-ms-input-placeholder {
    color: #464646 !important;
    opacity: 1;
    font-size: 17px;
}
.addcalendar .title {
    font-size: 18px;
}
.addcalendar .title::placeholder {
    color: #464646 !important;
    opacity: 1;
    font-size: 18px;
}
.addcalendar .title::-webkit-input-placeholder {
    color: #464646 !important;
    opacity: 1;
    font-size: 18px;
}

.addcalendar .title::-ms-input-placeholder {
    color: #464646 !important;
    opacity: 1;
    font-size: 18px;
}

.addcalendar li {
    position: relative;
}
.addcalendar li i {
    position: absolute;
    top: 11px;
    left: 11px;
    color: #000;    
}
.addcalendar li i.fa-users {
    left: 8px;
}

#job ul li ul li, #job1 ul li ul li, #job2 ul.add-ul li.mb-s>ul>li {
    padding: 0.5em 0;    
    border-bottom: 1px solid #efefef;    
}

#job ul ul, #job1 ul ul, #job2 ul.add-ul li.mb-s>ul {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    padding: 0 15px;
}

#job ul li span, #job1 ul li span, #job2 ul.add-ul li.mb-s span:not(.slider, .weekend) {
    display: inline-block;
    min-width: 75px;
    vertical-align: middle;
}
.modal-content .tab-content {
    margin-top: 16px;
}

.m-j-list {
    display: inline-block;
}
ul li .m-j-list:nth-child(1) {
    /*margin-right: 8px;*/
    width: 33%;
} 
ul li .m-j-list:nth-child(2) {
    width: 66%;
    vertical-align: middle;
}

#person select[disabled] {
    opacity: 0.6;
}

/*會議對象tag*/
.tag {
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 5px;
    margin: 3px 0;
    width: 100%;
}
.tag, .tag div, .tag .close {
    display: inline-block;
}
.tag div, .tag .close {
    margin: 0 3px;
}
.memberwrap {
    margin-bottom: 15px;
}

@media screen and (min-width: 1541px) {
    .addd {
        display: none;
    }    
}

@media screen and (max-width: 1540px) {
    .addcalendar.col-md-12 {
        width: 100%;
        padding-top: 50px;
        padding-left: 0;
    }
    .cccalendar.col-md-12 {
        width: 100%;
    }
}

@media screen and (max-width: 1450px) {
    div.dataTables_wrapper div.dataTables_filter {
        text-align: left;
    }
}


/* 表單樣式區域
=================================*/
.design-form .tab-content {
    max-width: 768px;
}

.design-form {
    padding: 30px;
}

.design-form .btn {
    border-radius: 4px;
    padding: 4px 20px;
    margin: 0;
}

.design-form .btn-b, .design-form .btn-g, .design-form .btn-o {
    min-width: 80px;
    background-color: #4194E4;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.08rem;
}

.design-form .btn-g {
    background-color: #DFDFDF;
    color: #464646;
}

.panel-type .panel-heading {
    border-radius: 10px 10px 0px 0px;
    background-color: #53AAEC;
    color: #fff;
    border-color: transparent;
    font-family: Noto sans TC, 微軟正黑體, sans-serif, monospace;
    font-size: 1.3em;
}
.form-area .tp-title {
    padding: 10px 30px;
    background-color: #F1FAFF;
    font-weight: 500;
    margin: 20px 0px;
}
.mgt-xl {
    margin-top: 30px;
}
.mgy-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pdx-0 {
    padding-left: 0;
    padding-right: 0;
}
.pd-l {
    padding-left: 30px;
    padding-right: 30px;
}
hr {
    margin: 20px 30px;
}
form[class^=form-content] hr {
    margin: 20px 0 ;
    border: 0;
    border-top: 1px solid #eee;
    width: 90%;
    display: inline-block;
}
.panel-type .panel-body {
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    border: 1px solid #bbe1ff;
    border-top: none;
}

.design-form .tp-title {
    padding: 2.5px 30px;
    background-color: #F1FAFF;
    font-weight: 500;
    margin: 20px 0px;
    font-size: 18px;
}

.last-page .page-change .next-btn {
    display: none;
}

.float-r {
    float: right;
}

.page-change {
    margin-bottom: 10px;
}

.section {
    display: inline-block;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #DFDFDF;    
    width: 125px;
}

.section .form-control {
    width: 50px;
    display: inline-block;
    height: auto;
}

.section .form-control:focus {
    box-shadow: none;
}

.section.active {
    border: 2px solid #4194d4; 
    box-shadow: 0 0 10px 0 #ccc;   
}

.section label {
    margin-bottom: 0;
    cursor: pointer;
    width: 85%;
}

.section label .fa-check-circle {
    color: #B0D85D;
}

.section .close {
    line-height: 0.8em;
}

.form-sec-btn {
    display: none;
}

.add-section, .add-section2, .add-section3, .save {
    display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #fff;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #ccc;
}
.add-section, .add-section2, .add-section3 {
    background-color: #4194d4;   
    margin-bottom: 30px; 
}
.save {
    background-color: #63deff;  
}
.add-section i, .add-section2 i, .add-section3 i {
    padding: 29%;
}
.design-form ul.nav-tabs {
    max-width: 768px;
    border-bottom: 1px solid #ddd;
}

.toolbar ul {
    box-shadow: 0 0 10px 0 #ccc;  
    display: inline-block;   
    width: 100%;
}

.toolbar ul li {
    display: inline-block;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    padding: 6px;
    cursor: pointer;
    background-color: #fff;   
    width: 10%; 
}
.toolbar ul li:nth-child(1) {
    border-left: 1px solid #ddd;
}
.toolbar ul li img {
    width: 12px;
    margin: 0 3px 0 6px;
}

.design-form .nav>a {
    padding: 0;
}

.design-form .tab-content>.tab-pane {
    display: none;
}

.design-form .tab-content>.active {
    display: block;
}
.design-form .tab-pane.fade {
    display: none;
}
.design-form .tab-pane.fade.in.active {
    display: block;
}
form[class^=form-content] i {
    line-height: 1.5em;
}

form[class^=form-content] textarea {
    height: 32px;
}

form[class^=form-content] .tp-title input, .design-form .title-deco input, .design-form .form-area input {
    font-size: 18px;   
    max-width: 90%; 
    /*height: 19px;*/
}
.design-form input.form-control {
    max-width: 90%;  
}

.design-form .form-area .mb-s input, .design-form .form-area ol input, .design-form .tab-content a {
    font-size: 1em;
}

.design-form .form-control {
    font-size: 1em;
}
form[class^=form-content] input, form[class^=form-content] textarea, .section .form-control {
    border-style: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
.form-area .item input {
    width: 85%;
}
form[class^=form-content] input:focus, form[class^=form-content] textarea:focus, .section .form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #4194d4;
    outline: none;
}

form[class^=form-content] ::placeholder {
    color: #464646 !important;
    opacity: 1;
}
form[class^=form-content] ::-webkit-input-placeholder {
    color: #464646 !important;
    opacity: 1;
}
form[class^=form-content] ::-ms-input-placeholder {
    color: #464646 !important;
    opacity: 1;
}

h4.q-title {
    font-size: 1.3rem;
    border-left: 6px solid #53AAEC;
    padding-left: 8px;
    color: #464646;
    line-height: 24px;
    font-weight: 700;
}
.drop-con li {
    font-size: 1.3rem;
}
.multi-con, .select-con {
    font-size: 1.3rem;    
}
.design-form .title-deco ::placeholder {
    color: #464646;
    opacity: 1;
    font-size: 20px;
}
.design-form .title-deco ::-webkit-input-placeholder {
    color: #464646;
    opacity: 1;
    font-size: 20px;
}
.design-form .title-deco ::-ms-input-placeholder {
    color: #464646;
    opacity: 1;
    font-size: 20px;
}
.design-form .title-deco input {
    color: #464646;
    opacity: 1;
    font-size: 20px; 
    width: 95%;   
    height: 26px;
}
.design-form .title-deco {
    margin-top: 10px;
    margin-bottom: 10px;
}
.out {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #777777;
    position: relative;
    display: inline-block;
    vertical-align: sub;
}
.shape {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #777777;
    position: relative;
    display: inline-block;
    vertical-align: sub;    
}
.item {
    margin-bottom: 35px;
}
.design-form input:checked+.slider:after {
    content: '必填';
    color: #53a8e9;
}
.design-form .slider:after {
    content: '必填';
    position: absolute;
    color: #464646;
    left: -36px;
    top: -1px;
}
.itemfoot {
    height: 36px;
    border-bottom: 1px dashed #ddd;
}
.design-form ol {
    padding-left: 16px;
}
input[type="text"].lock {
    border-bottom: 1px dotted #ddd;
    width: 40%;
    font-size: 1rem;
}
input[type="text"].datime {
    border-bottom: 1px solid #ddd;
    width: 158px;
}
.design-form .glyphicon {
    position: relative;
    right: 15px;
}
.sticky {
    z-index: 9999;
    position: sticky;
    top: 0;
/*    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #bbe1ff;*/
}
.design-form .panel-body {
    overflow-y: scroll;
    height: 500px;
}
.section .fa-check-circle {
    display: none;
}
.section.active .fa-check-circle {
    display: inline-block;
}
.design-form .nav-tabs a {
    color: #000;
}
.toolbar .rwdmenu {
    display: none;
}
.section, .add-section, .add-section2, .add-section3, .save {
    margin-bottom: 15px;
}

.meeting .close {
    margin: 0 5px;
    font-size: 30px;
}
.meeting .modal-body {
    margin-bottom: 0;
    margin-right: 0;
}
.followanswer {
    margin: 9px 0;
    font-size: 12px;
}
input[class^=follow] {
    display: none;
}
input[class^=follow]+.followanswer:before {
    content: '\f0c8';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400;
    color: #464646;
    margin-right: 6px;

}
input[class^=follow]:checked+.followanswer:before {
    content: '\f14a';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: #464646;
    margin-right: 6px;

}
.select-con .form-control, .multi-con .form-control, .drop-con .form-control {
    display: none;
    width: 100px;
    float: right;
    margin-right: 8px;
    padding: 3px;
    height: auto;
}
.item.link .form-control {
    display: inline-block;
}
@media screen and (max-width: 1020px) {
    .toolbar .rwdmenu {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 36px;
        height: 36px;
        border: none;
        color: #fff;
        background: #FECE78;
        border-radius: 50%;
    }
    .toolbar ul {
        position: fixed;
        width: 94px;
        right: 10px;
        bottom: 50px;
    }
    .toolbar ul li:not(.rwdmenu) {
        display: none;
        width: 100%;
        border-width: 0 1px 1px;
    }
    .toolbar ul li:nth-child(1) {
        border-top: 1px solid #ddd;
    }
}
@media screen and (max-width: 600px) {
    /*.design-form .nav-tabs>li {
        width: 33%;
    }*/
    .design-form .nav-tabs>li a {
        padding: 15px 0;
        text-align: center;
/*        font-size: 14px;*/
    }
    .design-form .nav-tabs>li a:focus {
        font-size: 16px;
    }
    .design-form {
        padding: 15px;
    }
    .design-form .item, .design-form .tp-title, .design-form .pd-l {
        padding-left: 15px;
        padding-right: 15px;
    }
    form[class^=form-content] textarea {
        height: auto;
    }
    .select-con .form-control, .multi-con .form-control, .drop-con .form-control {
        width: 100%;
        float: left;
        margin: 3px 0 10px 0;
    }
    .item.link .form-control .mb-s {
        height: 52px;
    }
    .design-form .tab-content .section {
        width: 46%;
    }
    .design-form .tab-content .nav-tabs {
        display: block;
    }
}

@media screen and (max-width:320px) {
    .design-form ul.nav-tabs>li a, .design-form ul.nav-tabs>li a:focus {
        font-size: 16px;
    }
}

/*modal*/
#newalert i {
    margin-right: 8px;
}
#newalert input[type="radio"]+label:before {
    content: '\f111';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400;
    color: #464646;
    margin-right: 6px;
}
#newalert input[type="radio"]:checked+label:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: #464646;
    margin-right: 6px;
}

.dtr-details tr td:nth-child(2) {
    word-break: normal;
    line-height: 1.5;
    padding: 2px 8px;

}

/*20191031 表格搜尋列設定*/
.dataTables_filter {
    display: none;
}
.coupon {
    margin: 20px 0;
}
.searchInput {
    width: 180px;
    background: url(../img/search-solid.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 6px center;    
    margin-bottom: 15px;
    display: block;
}
.coupon .datetime {
    vertical-align: middle;
    width: 180px;
}
.coupon .form-inline .form-group {
    margin-bottom: 15px;
}
.btn-wrap {
    vertical-align: text-bottom;
}
.coupon .form-inline .batchwrap .form-group {
    margin-bottom: 0;
}
@media screen and (max-width: 767px) {
    .searchInput, .coupon .datetime {
        width: 100%;
        margin-bottom: 12px;
    }
    .coupon .datetime .date-select, .coupon .form-inline .form-group {
        margin-right: 0 !important;
    }
}

.dtr-details tr td:nth-child(odd) {
    width: 80px;
}
/*20191104編輯活動*/
/*.edit input[type="number"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/
.modal-content .addcalendar .add-ul {
    background-color: transparent; 
    padding: 0; 
    border: 0; 
    border-radius: 0;
}

.fc-content-skeleton td {
    height: 40px;
}

.modal-open .modal {
   overflow-y: hidden;
   padding-right: 0;
}
#meet .modal-body, #job1 .modal-body, #person .modal-body, #job .modal-body {
   max-height: 80vh;
   overflow-y: auto;
}

.fc-content .fc-title {
       font-size: 17px;
}
/*日曆最小尺寸*/
.fc-view-container {
    width: 100%;
    overflow-x: auto;
}
.fc-basic-view {
    min-width: 480px;
}

.fc-event {
    padding: 6px 2px !important;
}
.fc-day-top.fc-tue.fc-today {
    height: auto !important;
}
.fc-content-skeleton td {
    height: auto;
}

@media screen and (min-width: 1042px) {
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
        overflow-x: auto;
    }
    .child {
        display: none;
    }
    /* .rwdhide .parent td {
        display: table-cell;
    } */
    .rwdhide {
        display: table-header-group;
    }
    tr.odd, tr.even {
        display: table-row;
    }
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    display: none;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
    padding-left: 8px;
}

/*隱藏table的"統編"及"status"*/
/*助理線上預約*/#hetao-list-a-2.assistant .child tr:nth-child(11), 
/*助理派工單*/#hetao-list-s-2.assistant .child tr:nth-child(10),  
/*助理行程回報*/#hetao-list-s-2.assistant .child tr:nth-child(11), 
/*助理已完成*/#hetao-list-ss-2.assistant .child tr:nth-child(9),

/*主管待指派*/#hetao-list-su.supervisor .child tr:nth-child(11),
/*主管已完成*/#hetao-list-su.supervisor .child tr:nth-child(12),
/*主管已指派*/#hetao-list-su-2.supervisor .child tr:nth-child(11),
/*主管行程回報*/#hetao-list-s-2.supervisor .child tr:nth-child(10),
/*主管行程回報*/#hetao-list-s-2.supervisor .child tr:nth-child(11),
/*主管已完成*/#hetao-list-ss-2.supervisor .child tr:nth-child(10),

/*員工行程回報*/#hetao-list-s-2.staff .child tr:nth-child(10),
/*員工行程回報*/#hetao-list-s-2.staff .child tr:nth-child(11),
/*員工已完成*/#hetao-list-s-3.staff .child tr:nth-child(10),
/*員工已完成*/#hetao-list-s-3.staff .child tr:nth-child(11)
{
    display: none;
}

/*主管已指派日期不斷行*/#hetao-list-su-2.supervisor tr td:nth-child(3) {
    white-space: nowrap;
}