* {
    box-sizing: border-box;
}

body {
    word-break: break-all;
}

:root {
    --side-bar-color: #fff;
    --side-bar-bg: rgba(65, 148, 212, 0.9);
}

side-bar,
sb-menu,
sb-menu2,
sb-menu3 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

side-bar {
    position: fixed;
    display: flex;
    text-align: center;
    height: 100%;
    width: 200px;
    background: var(--side-bar-bg);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    color: #fff;
    right: 0px;
    top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    transition: all 180ms ease-in-out;
    padding-top: 60px;
}

side-bar[open] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

side-bar .selected,
sb-menu[open]>.selected, sb-menu2[open]>.selected, sb-menu3[open]>.selected {
    background: rgba(99, 222, 255, 0.3) !important;
}
sb-item, sb-item:hover, sb-item2, sb-item2:hover, sb-item3, sb-item3:hover {
    color: #fff;
}
side-bar .selected:hover {
    color: var(--side-bar-color);
}

side-bar>.toggler {
    position: absolute;
    top: 0;
    right: calc(100%);
    width: 45px;
    height: 45px;
    color: #fff;
    line-height: 1.5em;
    background-color: #4194d4;
    background-image: url(../img/bars-solid-w.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all 520ms ease-in-out;
}

side-bar[open]>.toggler {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-image: url(../img/times-solid-w.svg);
    background-color: transparent;
    right: calc(100% - 45px);
    background-size: 40%;
}

sb-menu, sb-menu2, sb-menu3 {
    width: 100%;
    margin-top: .5em;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

sb-menu,
sb-menu-title,
sb-menu2,
sb-menu-title2,
sb-menu3,
sb-menu-title3, {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin: 0;
    color: #fff;
}

sb-menu>sb-menu-title::before, sb-menu2>sb-menu-title2::before, sb-menu3>sb-menu-title3::before {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    content: '+';
    position: absolute;
    right: 12px;    
}

sb-menu[open]>sb-menu-title::before, sb-menu2[open]>sb-menu-title2::before, sb-menu3[open]>sb-menu-title3::before {
    content: '-';
}

sb-menu[open], sb-menu2[open], sb-menu3[open] {
/*    border-top: 1px solid hsla(0, 0%, 100%, .15);
    border-bottom: 1px solid hsla(0, 0%, 100%, .15);*/
    /*background-color: rgba(99, 222, 255, 0.3) !important;*/
}

sb-menu>.selected, sb-menu2>.selected, sb-menu3>.selected {
    height: 0;
    margin: 0;
}

sb-menu[open]>sb-menu-title, sb-menu2[open]>sb-menu-title2, sb-menu3[open]>sb-menu-title3 {
/*    border-bottom: 1px solid hsla(0, 0%, 100%, .15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    margin-bottom: .75em;*/
    background-color: transparent !important;
}

.sidebar sb-menu:hover, .sidebar sb-menu:focus, .sidebar sb-item:hover, .sidebar sb-item:focus, .sidebar sb-menu2:hover, .sidebar sb-menu2:focus, .sidebar sb-item2:hover, .sidebar sb-item2:focus , .sidebar sb-menu3:hover, .sidebar sb-menu3:focus, .sidebar sb-item3:hover, .sidebar sb-item3:focus {
    color: #fff;
    background-color: rgba(99, 222, 255, 0.3) !important;
}

/*sb-menu:hover {
    border-top: 1px solid hsla(0, 0%, 100%, .2);
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}*/

sb-menu>sb-item, sb-menu2>sb-item2, sb-menu3>sb-item3 {
    opacity: 0;
    height: 0;
    pointer-events: none;
    padding-left: 60px;
}

sb-menu[open]>sb-item, sb-menu2[open]>sb-item2, sb-menu3[open]>sb-item3 {
    opacity: 1;
    height: 3.5em;
    pointer-events: auto;
}

sb-item a, sb-item a:hover, sb-menu-title, sb-item2 a, sb-item2 a:hover, sb-menu-title2, sb-item3 a, sb-item3 a:hover, sb-menu-title3 {
    font-size: 16px;
    color: #fff;    
}

sb-item,
sb-menu-title,
sb-item2,
sb-menu-title2,
sb-item3,
sb-menu-title3 {
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    padding: 0 6px;
    width: 100%;
    height: 3.5em;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    transition: all 140ms ease-in-out;
}

.fa-fw {
    width: 2em;
    font-size: 15px;
}    

side-bar.pc {
    position: absolute;
    left: 0;
    display: contents;
}


@media screen and (min-width: 769px) {
    .pc {
        display: block;
    }
    .rwd {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .rwd {
        display: block;
        z-index: 100;
    }
    .main {
        width: 100%;
    }
}